body{
    background-color: #1a1818;
}


.container{
    /* padding-top: 90px;   */
    display: flex;
}

.instanav{
    border: 1px solid gray;
    border-radius: 1px;
    height: 655px;
    width: 250px;
    background-color: #141414;
    color: #fff;
    position:fixed;
}

.instanavfixed{
    position: fixed;
}

.instagram{
    font-size: 25px;
    text-align: center;
    padding-top: 5px;
}

.instaname{
    background-color: #1a1818;
    color: #fff;
    height: 50px;
    width: 150px;
}

.dotdot{
    text-align: center;
    color: gray;
    padding-top: 10px;
    padding-bottom: 4px;
}

.nav{
    background-color: #2e2d2d;
    color: white;
    width: 250px;
    height: 65px;
}

.homebutton{
    font-size: 15px;
}

.searchbutton{
    font-size: 15px;
}

.reelsemoji{
    font-size: 15px;
}

.messageemoji{
    font-size: 15px;
}

.notificationemoji{
    font-size: 15px;
}


#search{
    padding-top: 5px;
}

#reels{
    padding-top: 5px;
}

#message{
    padding-top: 5px;
}

#notification{
    padding-top: 5px;
}

#profile{
    padding-top: 5px;
}

#more{
    padding-top: 90px;
}

.more{
    background-color: #141414;
    color: white;
    width: 250px;
    height: 25px;
}

.mainprofile{
    padding-left: 255px;
    color: #fff;
    height: 125px;
    width: 650px;
}

.profilepadding{
    padding-left: 125px;
    padding-top: 45px;
}

.profileimgpadding{
    padding-left: 150px;
    padding-top: 30px;
}

.profileimg{
    height: 175px;
    width: 175px;
    border: 1px solid gray;
    border-radius: 50%;
}

.profilename{
    padding-left: 305px;
    font-size: 25px;
    display: flex;
}

.editprofile{
    padding-left: 15px;
    padding-bottom: 25px;
    display: flex;
}

.profilesetting{
    padding-left: 5px;
}

.editprofilebutton{
    height: 25px;
    width: 85px;
    border-radius: 5px;
    cursor: pointer;
}

.settingbutton{
    background-color: #1a1818;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.numberofpost{
    padding-left: 250px;
}

.firstone{
    height: 75px;
    width: 500px;
}

.followers{
    padding-left: 100px;
    cursor: pointer;
}

.following{
    padding-left: 100px;
    cursor: pointer;
}

.realname{
    margin: 0px;
}

.memories{
    padding-top: 50px;
    padding-right: 0px;
}

.memoriesstory{
    height: 100px;
    width: 100px;
    border: 1px solid gray;
    border-radius: 50%;
    border-color: rgb(194, 68, 23);
}

.firststory{
    padding-left: 12px;
    padding-top: 11px;
}

.innerstory{
    height: 75px;
    width: 75px;
    border: 1px solid gray;
    border-radius: 50%;
    border-color: rgb(37, 25, 25);
}

.plussign{
    text-align: center;
    align-items: center;
    padding-top: 10px;
    font-size: 45px;
    cursor: pointer;
}

.newstory{
    padding-top: 40px;
    padding-left: 20px;
}

.straightlinepadding{
    padding-top: 80px;
}

.straightline{
    height: 0px;
    width: 900px;
    border: 1px solid gray;
}

.postnav{
    height: 250px;
    width: 850px;
    /* border: 1px solid gray; */
    padding-top: 250px;
}

.posts{
    display: flex;
}

.post{
    padding-left: 150px;
    color: #fff;
}